<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Http404</title>
</head>
<body class="background-erro">
    <div>
        <h1 class="text-white">404</h1>
        <h2 class="text-white">Temos um problema.</h2>
        <p class="text-white">
            Infelizmente, a página que você solicitou não existe.
        </p>
        <p>
            <a href='@Url.Action("Index", "Home")'>
                Retornar ao início
            </a>
            <br>
        </p>
    </div>
</body>
</html>